
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", serif;
}

.bg-body-tertiary{
    background-color: white !important; 
    box-shadow: 2px 2px 6px black;
}
.bg-body-tertiary button{
    background-color: #6B46FF;
}
.bg-body-tertiary form{
   min-width: 300px;
}
.bg-body-tertiary form i{
    right: 10px;
    top: 10px;

}
.bg-body-tertiary .nav-link{
    color: red !important;
    font-weight: 500px;
    
}
.top_left .btn:nth-child(1){
    background-color: #F9F5FF;
    border-radius: 20px;
    color: #6B46FF;
    font-size: 18px;
    font-weight: 600;
    

}
.top_left h2{
    font-size: 60px;
    color: #101828;
    font-weight: 600;
    text-shadow:5px 2px 0px  #00000040;
  
}
.top_left p{
    color: #475467;
}
.top_left button:last-child{
    background-color:#6B46FF;
    border-radius:9px;
    color: white;
    /* border: none; */
    padding: 15px;
    box-shadow: 0px 7px 19px #6B46FF66;
}
.explor-wide{
    background-color: #F9FAFB;
}
.Explore{
    border-radius: 8px;
    background-color: #6B46FF;
    width: 194px;
    height: 48px;
    color: #ffffff;
    margin-top: 30px;
}

.box{
    box-shadow: 0px 0px 7px black;
}